<?xml version="1.0"?>
<config>
    <modules>
        <OrganicInternet_SimpleConfigurableProducts>
            <version>0.3</version>
        </OrganicInternet_SimpleConfigurableProducts>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product_type_configurable_price>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
                <rewrite>
                    <product_type_simple>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product_Type_Simple</product_type_simple>
                </rewrite>
                <rewrite>
                    <product>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product</product>
                </rewrite>
            </catalog>
            <catalogindex>
                <rewrite>
                    <data_configurable>OrganicInternet_SimpleConfigurableProducts_CatalogIndex_Model_Data_Configurable</data_configurable>
                </rewrite>
            </catalogindex>
            <catalogindex_mysql4>
                <rewrite>
                    <indexer>OrganicInternet_SimpleConfigurableProducts_CatalogIndex_Model_Mysql4_Indexer</indexer>
                </rewrite>
            </catalogindex_mysql4>
        </models>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>OrganicInternet_SimpleConfigurableProducts_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_item_renderer>OrganicInternet_SimpleConfigurableProducts_Checkout_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <rss>
                <rewrite>
                    <wishlist>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Wishlist</wishlist>
                </rewrite>
                <rewrite>
                    <catalog_tag>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_Tag</catalog_tag>
                </rewrite>
                <rewrite>
                    <catalog_special>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_Special</catalog_special>
                </rewrite>
                <rewrite>
                    <catalog_new>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_New</catalog_new>
                </rewrite>
                <rewrite>
                    <catalog_category>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_Category</catalog_category>
                </rewrite>
            </rss>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <simpleconfigurableproducts>
                    <file>simpleconfigurableproducts.xml</file>
                </simpleconfigurableproducts>
            </updates>
        </layout>
    </frontend>
</config>
