<?xml version="1.0"?>
<config>
    <modules>
        <OrganicInternet_SimpleConfigurableProducts>
            <version>0.8.2</version>
        </OrganicInternet_SimpleConfigurableProducts>
    </modules>
    <global>
        <helpers>
            <simpleconfigurableproducts>
                <class>OrganicInternet_SimpleConfigurableProducts_Helper</class>
            </simpleconfigurableproducts>
        </helpers>
        <models>
            <catalogrule_resource>
                <rewrite>
                    <rule>OrganicInternet_SimpleConfigurableProducts_CatalogRule_Model_Resource_Rule</rule>
                </rewrite>
            </catalogrule_resource>
            <catalog>
                <rewrite>
                    <product_type_configurable_price>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
                <rewrite>
                    <product_type_simple>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product_Type_Simple</product_type_simple>
                </rewrite>
                <rewrite>
                    <product_type_virtual>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product_Type_Virtual</product_type_virtual>
                </rewrite>
                <rewrite>
                    <product_type_configurable>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product_Type_Configurable</product_type_configurable>
                </rewrite>
                <rewrite>
                    <product>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Product</product>
                </rewrite>
            </catalog>
            <catalog_resource>
            	<rewrite>
            		<product_indexer_price_configurable>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Resource_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
            	</rewrite>
            	<rewrite>
            		<product_collection>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Resource_Product_Collection</product_collection>
            	</rewrite>
            </catalog_resource>
            <catalogindex>
                <rewrite>
                    <data_configurable>OrganicInternet_SimpleConfigurableProducts_CatalogIndex_Model_Data_Configurable</data_configurable>
                </rewrite>
            </catalogindex>
    		<cataloginventory_resource>
    			<rewrite>
					   <indexer_stock_configurable>OrganicInternet_SimpleConfigurableProducts_CatalogInventory_Model_Resource_Indexer_Stock_Configurable</indexer_stock_configurable> 			
    			</rewrite>
    		</cataloginventory_resource>
            <catalog_resource>
                <rewrite>
                    <product_indexer_price>OrganicInternet_SimpleConfigurableProducts_Catalog_Model_Resource_Product_Indexer_Price</product_indexer_price>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_grid>OrganicInternet_SimpleConfigurableProducts_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>OrganicInternet_SimpleConfigurableProducts_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
                <rewrite>
                    <product_price>OrganicInternet_SimpleConfigurableProducts_Catalog_Block_Product_Price</product_price>
                </rewrite>
                <rewrite>
                    <product_view_media>OrganicInternet_SimpleConfigurableProducts_Catalog_Block_Product_View_Media</product_view_media>
                </rewrite>
                <rewrite>
                    <product_view_attributes>OrganicInternet_SimpleConfigurableProducts_Catalog_Block_Product_View_Attributes</product_view_attributes>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_item_renderer>OrganicInternet_SimpleConfigurableProducts_Checkout_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <rss>
                <rewrite>
                    <wishlist>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Wishlist</wishlist>
                </rewrite>
                <rewrite>
                    <catalog_tag>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_Tag</catalog_tag>
                </rewrite>
                <rewrite>
                    <catalog_special>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_Special</catalog_special>
                </rewrite>
                <rewrite>
                    <catalog_new>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_New</catalog_new>
                </rewrite>
                <rewrite>
                    <catalog_category>OrganicInternet_SimpleConfigurableProducts_Rss_Block_Catalog_Category</catalog_category>
                </rewrite>
            </rss>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <simpleconfigurableproducts>
                    <file>simpleconfigurableproducts.xml</file>
                </simpleconfigurableproducts>
            </updates>
        </layout>
        <routers>
            <oi>
                <use>standard</use>
                <args>
                    <module>OrganicInternet_SimpleConfigurableProducts</module>
                    <frontName>oi</frontName>
                </args>
            </oi>
        </routers>
	<translate>
            <modules>
                <simpleconfigurableproducts>
                    <files>
                        <default>OrganicInternet_SimpleConfigurableProducts.csv</default>
                    </files>
                </simpleconfigurableproducts>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <SCP_options>
                                            <title>SCP Module Section</title>
                                        </SCP_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	<translate>
            <modules>
                <simpleconfigurableproducts>
                    <files>
                        <default>OrganicInternet_SimpleConfigurableProducts.csv</default>
                    </files>
                </simpleconfigurableproducts>
            </modules>
        </translate>
    </adminhtml>
</config>
