<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <SCP translate="label" module="simpleconfigurableproducts">
            <label>SCP</label>
            <sort_order>1000000</sort_order>
        </SCP>
    </tabs>
    <sections>
        <SCP_options translate="label" module="simpleconfigurableproducts">
            <label>SCP Config</label>
            <tab>SCP</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <SCP_group translate="label">
                    <label>SCP</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <SCP_cart_show_config_product_options>
                            <label>Show Configurable Product Options In Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SCP_cart_show_config_product_options>
                        <SCP_cart_show_custom_options>
                            <label>Show Custom Options In Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Only applies to SCP configurable products</comment>
                        </SCP_cart_show_custom_options>
                        <SCP_cart_show_configurable_product_name>
                            <label>Show Configurable Product Name in Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>No = Show simple product name in cart</comment>
                        </SCP_cart_show_configurable_product_name>
                        <SCP_cart_show_configurable_product_image>
                            <label>Show Configurable Product Image in Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>No = Show simple product image in cart</comment>
                        </SCP_cart_show_configurable_product_image>
                       <SCP_product_page_change_name>
                            <label>Dynamically update product name shown on Product Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Takes affect once all configurable options have been selected</comment>
                        </SCP_product_page_change_name>

                        <SCP_product_page_change_description>
                            <label>Dynamically update product description shown on Product Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Takes affect once all configurable options have been selected</comment>
                        </SCP_product_page_change_description>
                        <SCP_product_page_change_image>
                            <label>Dynamically update product picture shown on Product Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Takes affect once all configurable options have been selected</comment>
                        </SCP_product_page_change_image>
                        <SCP_product_page_change_image_fancy>
                            <label>Update gallery images as well as main image?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Uses ajax to pull in the correct related product images too</comment>
                        </SCP_product_page_change_image_fancy>


                    </fields>
                </SCP_group>
            </groups>
        </SCP_options>
    </sections>
</config>
